In [14]:
import pandas as pd
import numpy as np

In [15]:
df = pd.read_csv('twitter2018_Werner_data.csv')

In [16]:
df.head()

,Unnamed: 0,avg_orig_message_likes,avg_orig_message_retweets,friends_count,followers_count,female_pct_follower,female_pct_friend,twitter,female,asstprof,assocprof,prof,academic,yrs_on_twitter,origtweets_year,friends_year,followers_year,orig_likes_year,orig_rt_year,ff_ratio
0,0,3.090909,2.303030,19.0,84.0,0.654321,0.368421,1.0,0.0,0.0,0.0,0.0,NaN,6.000000,33.000000,3.166667,14.000000,102.000000,76.000000,4.421053
1,1,6.733333,2.600000,295.0,213.0,0.547264,0.527211,1.0,1.0,1.0,0.0,0.0,1.0,0.500000,70.000000,590.000000,426.000000,471.333340,182.000000,0.722034
2,2,1.500000,0.000000,14.0,0.0,NaN,0.571429,1.0,0.0,1.0,0.0,0.0,1.0,0.500000,16.000000,28.000000,0.000000,24.000000,0.000000,0.000000
3,3,5.432531,3.250627,569.0,1637.0,0.384262,0.388693,1.0,0.0,0.0,1.0,0.0,1.0,6.000000,331.166660,94.833336,272.833340,1799.073100,1076.499100,2.876977
4,4,1.000000,1.000000,85.0,61.0,0.333333,0.269231,1.0,0.0,1.0,0.0,0.0,1.0,8.916667,1.345794,9.532710,6.841122,1.345794,1.345794,0.717647

In [17]:
df.fillna(np.nan, inplace=True)

In [18]:
df.head(10)

,Unnamed: 0,avg_orig_message_likes,avg_orig_message_retweets,friends_count,followers_count,female_pct_follower,female_pct_friend,twitter,female,asstprof,assocprof,prof,academic,yrs_on_twitter,origtweets_year,friends_year,followers_year,orig_likes_year,orig_rt_year,ff_ratio
0,0,3.090909,2.303030,19.0,84.0,0.654321,0.368421,1.0,0.0,0.0,0.0,0.0,NaN,6.000000,33.000000,3.166667,14.000000,102.000000,76.000000,4.421053
1,1,6.733333,2.600000,295.0,213.0,0.547264,0.527211,1.0,1.0,1.0,0.0,0.0,1.0,0.500000,70.000000,590.000000,426.000000,471.333340,182.000000,0.722034
2,2,1.500000,0.000000,14.0,0.0,NaN,0.571429,1.0,0.0,1.0,0.0,0.0,1.0,0.500000,16.000000,28.000000,0.000000,24.000000,0.000000,0.000000
3,3,5.432531,3.250627,569.0,1637.0,0.384262,0.388693,1.0,0.0,0.0,1.0,0.0,1.0,6.000000,331.166660,94.833336,272.833340,1799.073100,1076.499100,2.876977
4,4,1.000000,1.000000,85.0,61.0,0.333333,0.269231,1.0,0.0,1.0,0.0,0.0,1.0,8.916667,1.345794,9.532710,6.841122,1.345794,1.345794,0.717647
5,5,8.166667,3.041667,26.0,84.0,0.621951,0.703704,1.0,1.0,0.0,0.0,1.0,1.0,0.416667,74.400000,62.400000,201.600000,607.600040,226.300000,3.230769
6,6,6.947368,4.760000,25.0,70.0,0.485294,0.440000,1.0,1.0,1.0,0.0,0.0,1.0,0.416667,115.200000,60.000000,168.000000,800.336800,548.352000,2.800000
7,7,2.968750,1.615385,22.0,48.0,0.162791,0.250000,1.0,1.0,0.0,0.0,1.0,1.0,8.916667,4.710280,2.467290,5.383178,13.983645,7.608914,2.181818
8,8,4.777778,2.000000,93.0,51.0,0.836735,0.747368,1.0,1.0,1.0,0.0,0.0,1.0,1.500000,12.666667,62.000000,34.000000,60.518520,25.333334,0.548387
9,9,7.633333,4.565217,49.0,172.0,0.593939,0.595745,1.0,1.0,0.0,1.0,0.0,1.0,5.666666,7.588235,8.647058,30.352942,57.923530,34.641945,3.510204

In [19]:
df = df.rename(columns={"Unnamed: 0": "id"})

In [20]:
df.tail()

,id,avg_orig_message_likes,avg_orig_message_retweets,friends_count,followers_count,female_pct_follower,female_pct_friend,twitter,female,asstprof,assocprof,prof,academic,yrs_on_twitter,origtweets_year,friends_year,followers_year,orig_likes_year,orig_rt_year,ff_ratio
914,914,42.222222,5.500000,1020.0,311.0,0.837662,0.836735,1.0,1.0,1.0,0.0,0.0,1.0,0.666667,31.500000,1530.000000,466.500000,1330.000000,173.25000,0.304902
915,915,9.934827,6.125257,596.0,5885.0,0.322319,0.467116,1.0,0.0,0.0,0.0,1.0,1.0,6.250000,160.160000,95.360000,941.600000,1591.161900,981.02110,9.874161
916,916,11.139535,5.125000,335.0,361.0,0.674286,0.657576,1.0,1.0,0.0,1.0,0.0,1.0,0.583333,75.428570,574.285700,618.857100,840.239200,386.57144,1.077612
917,917,26.360965,32.502075,2507.0,22160.0,0.335281,0.314053,1.0,0.0,0.0,0.0,1.0,1.0,8.833333,218.150940,283.811300,2508.679200,5750.669400,7090.35800,8.839251
918,918,1.904762,1.761905,76.0,105.0,0.222222,0.302632,1.0,0.0,0.0,0.0,0.0,NaN,8.833333,6.226415,8.603773,11.886792,11.859838,10.97035,1.381579

In [21]:
df.to_csv('twitter2018_Werner_data_clean.csv')